{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
<body
    <div class="content-container">
    <h1>Welcome to my<br>Gaming Space</h1>
    <p>Découvrez mes consoles et jeux vidéo.</p>
    <a href="{{ path('app_console_index') }}" class="btn">Consoles</a>
    <a href="{{ path('app_jeux_videos_index') }}" class="btn">Jeux vidéo</a>
</div>

    
    <script src="{{ asset('js/random-background.js') }}"></script>

</body>
{% endblock %}
