{# templates/adminer/index.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>Adminer</title>
</head>
<body>
    <iframe src="{{ asset('adminer-4.8.1-mysql.php') }}" style="width: 100%; height: 100vh; border: 0;"></iframe>
</body>
</html>
