{% extends 'base.html.twig' %}

{% block title %}Ajoutez un jeu vidéo{% endblock %}

{% block body %}



<div class="container pt-5">

    <div class="row mb-2">

        <div class="col">

         <!-- Ajoutez cette partie pour l'icône de lien vers la page d'accueil -->
       
            <a href="{{ path('app_home') }}" class="navbar-brand">
                <i class="fas fa-gamepad fa-2x" title="Retour sur la home"></i>
            </a>

    <h1>Ajout d'un jeu vidéo</h1>

    {{ include('jeux_videos/_form.html.twig') }}

    <div class="col text-right">

    <a href="{{ path('app_jeux_videos_index') }}">back to list</a>

    </div>

       </div>

    </div>

</div>
{% endblock %}
